// .hero {
//   color: #fff;
//   background-image: linear-gradient(
//       rgba(47, 48, 58, 0.42),
//       rgba(47, 48, 58, 0.42)
//     ),
//     url(../images/fon.jpg);
//   max-width: 1600px;
//   height: 600px;
//   margin-left: auto;
//   margin-right: auto;
//   background-repeat: no-repeat;
//   background-position: center;
//   background-size: cover;
//   padding-top: 200px;
//   padding-bottom: 200px;
//   text-align: center;
//   transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &:hover {
//     background-image: linear-gradient(rgba(47, 48, 58, 0), rgba(47, 48, 58, 0)),
//       url(../images/fon.jpg);
//   }
// }
.hero-block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hero-title {
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;

  @media screen and (min-width: 768px) {
    max-width: 360px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero {
  color: #fff;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.42),
      rgba(47, 48, 58, 0.42)
    ),
    url(../images/fon-mobile.jpg);
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  // &:hover {
  //   background-image: linear-gradient(rgba(47, 48, 58, 0), rgba(47, 48, 58, 0)),
  //     url(../images/fon-desktop.jpg);
  // }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
  screen and (min-resolution: 192dpi) and (min-width: 320px),
  screen and (min-resolution: 2dppx) and (min-width: 320px) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.42),
        rgba(47, 48, 58, 0.42)
      ),
      url(../images/fon-mobile@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.42),
        rgba(47, 48, 58, 0.42)
      ),
      url(../images/fon-tablet.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.42),
        rgba(47, 48, 58, 0.42)
      ),
      url(../images/fon-tablet@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.42),
        rgba(47, 48, 58, 0.42)
      ),
      url(../images/fon-desktop.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.42),
        rgba(47, 48, 58, 0.42)
      ),
      url(../images/fon-desktop@2x.jpg);
  }
}
