// :root {
//   --primary-text-color: #757575;
//   --title-text-color: #212121;
//   --accent-color: #2196f3;
//   --primary-bg-color: #fff;
// }
$primaryColor: #757575;
$titleTextColor: #212121;
$accentColor: #2196f3;
$primaryBgColor: #fff;
